/* ==========================================================================
   1. POLICES LOCALES
   ========================================================================== */

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
}


/* ==========================================================================
   2. RESET
   ========================================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}


/* ==========================================================================
   3. ÉLÉMENTS GÉNÉRAUX
   ========================================================================== */

html {
	font-family: 'Fira Sans', sans-serif;
}

body {
	background-color: #f5f5f5;
	color: #222222;
}

img {
	max-width: 100%;
	height: auto;
}

.logo-menu {
   width: 30%;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

a {
	color: #0066cc;
}

a:hover {
	color: #004499;
}


/* ==========================================================================
   4. CONTENEURS
   ========================================================================== */

.container {

}

.wrapper {

}

section {

}

article {

}

aside {

}


/* ==========================================================================
   5. EN-TÊTE
   ========================================================================== */

header {
   padding: 1.5rem;
   background-color: lightblue;
 }

header h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

header p {

}


/* ==========================================================================
   6. NAVIGATION
   ========================================================================== */

nav {
   display: flex;
   background-color: lightblue;
}

nav ul {
   display: flex;
   list-style: none;
   gap: 2rem;
   align-items: center;
   margin-right: 2rem;
}

nav li {

}

nav a {

}

nav a:hover {
   
}
